.FullPost {
  border: 2px solid #2f3542;
  padding: 10px;
  position: relative;
  margin-bottom: 40px;
  h3 {
    &:first-letter {
      text-transform: capitalize
    }
  }
  p {
    margin-bottom: 0;
    &:first-letter {
      text-transform: capitalize
    }
    &.Autor {
      background-color: $write_gray_3;
      display: inline-block;
      color: $gray_medium;
      font-style: italic;
      font-size: 12px;
      padding: 0 4px;
    }
  }
  .btnDelete {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
    color: $gray_light;
    font-size: 20px;
    &:hover {
      color: #ff4757;
    }
  }
}