body {
  background-color: #f9f9f9;
}
p {
  font-family: 'Lato', serif !important;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  word-spacing: 1px;
}
p, h1, h2, h3, h4, h5, h6, a, span {
  &::selection {
    background-color: $black;
    color: #fff;
    @media (max-width: 575.98px) {
      background-color: #fff;
      color: $black;
    }
  }
}
a {
  text-decoration: none !important;
}
button {
  &:active,
  &:focus {
   outline: 0 !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Zilla Slab', serif !important;
}
blockquote {
  padding: 10px 20px;
  background-color: $gray_light;
  font-style: italic;
  font-size: 13.5px;
  p {
    margin-bottom: 0;
  }
}

