.ListPostItem {
  border: 2px solid #2f3542;
  padding: 10px;
  p {
    margin-bottom: 0;
    &.Autor {
      background-color: $write_gray_3;
      display: inline-block;
      color: $gray_medium;
      font-style: italic;
      font-size: 12px;
      padding: 0 4px;
    }
  } 
}