.ListPostItem {
  border: 2px solid #2f3542;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 130px;
  max-height: 160px;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    background-color: $write_gray_3;
  }
  h5 {
    overflow-wrap: break-word;
    &:first-letter {
      text-transform: capitalize
    }
  }
  p {
    margin-bottom: 0;
    &.Autor {
      position: absolute;
      bottom: 10px;
      background-color: $write_gray_3;
      display: inline-block;
      color: $gray_medium;
      font-style: italic;
      font-size: 12px;
      padding: 0 4px;
    }
  } 
}