.Header {
  padding: 20px;
  margin-bottom: 20px;
  .Logo {
    h1 {
      border-radius: 2px;
      font-size: 24px;
      border: 2px solid #2f3542;
      display: inline-block;
      margin-bottom: 0;
      padding: 4px 6px;
      color: #2f3542;
      font-weight: 300;
      span {
        font-weight: 400;
      }
    }
  }
  
}
