.Header {
  padding: 20px;
  margin-bottom: 20px;
  .Logo {
    h1 {
      border-radius: 2px;
      font-size: 24px;
      border: 2px solid #2f3542;
      display: inline-block;
      margin-bottom: 0;
      padding: 4px 6px;
      color: #2f3542;
      font-weight: 300;
      span {
        font-weight: 400;
      }
    }
  }
  .Nav {
    ul {
      padding: 5px 0;
      li {
        margin: 0 10px;
        a {
          color: $black;
          text-transform: uppercase;
          font-weight: 400;
          padding-bottom: 8px;
          border-bottom: 2px solid $black;
          &:hover {
            color: $gray_medium;
            border-bottom: 2px solid $gray_medium;
          }
        }
      }
    } 
  }
}
:global {
  .nav-link {
    padding: 0 !important;
  }
}